div {
	position:absolute;
}

body {
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
}

#contentContainer {
	position:absolute;
	background-color:#9DCDE6;
	width:1024px;
	height:768px;
}

#label {
	position:absolute;
	top:588px;
	left:900px;
}

div#topBar {
	position:absolute;
	background-color:#03508C;
	width:1024px;
	height:68px;
}

div#title {
	position:absolute;
	background-image:url('../images/title.png');
	width:94px;
	height:23px;
	top:20px;
	left:15px;
}

div#bottomBar {
	position:absolute;
	background-color:#03508C;
	bottom:0px;
	width:1024px;
	height:96px;
}

div#label {
	position:absolute;
	background-image:url('../images/label.png');
	width:87px;
	height:86px;
	top:588px;
	left:900px;
}

div#box {
	width:739px;
	height:298px;
	top:200px;
	left:142px;
	background-image:url('../images/ref.png');
}

div#popClose {
	background-image:url('../images/close.png');
	width:73px;
	height:74px;
	top:-35px; 
	left:700px;
}