body {
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
}

#contentContainer {
	position:absolute;
	background-color:#9DCDE6;
	width:1024px;
	height:768px;
}

#label {
	position:absolute;
	top:588px;
	left:900px;
}

#topBar {
	position:absolute;
	background-color:#03508C;
	width:1024px;
	height:68px;
}

#title {
	position:absolute;
	background-image:url('../images/title.png');
	width:131px;
	height:23px;
	top:20px;
	left:15px;
}

#bottomBar {
	position:absolute;
	background-color:#03508C;
	bottom:0px;
	width:1024px;
	height:96px;
}

div#content {
	position:absolute;
	background-image:url('../images/content.png');
	width:773px;
	height:272px;
	top:195px;
	left:125px;
}

div#arrow {
	position:absolute;
	background-image:url('../images/arrow.png');
	width:722px;
	height:128px;
	top:370px;
	left:160px;
	opacity:0;
}

div#box {
	position:absolute;
	background-image:url('../images/box.png');
	width:773px;
	height:82px;
	top:480px;
	left:125px;
	opacity:0;
}

#slideToSeeMore
{
    position:absolute;
	top:488px;
	left:943px;

}