div {
	position:absolute;
}

body {
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
}

#contentContainer {
	position:absolute;
	background-color:#9DCDE6;
	width:1024px;
	height:768px;
}

#label {
	position:absolute;
	top:588px;
	left:900px;
}

div#topBar {
	position:absolute;
	background-color:#03508C;
	width:1024px;
	height:68px;
}

div#title {
	position:absolute;
	background-image:url('../images/title.png');
	width:119px;
	height:23px;
	top:20px;
	left:15px;
}

div#bottomBar {
	position:absolute;
	background-color:#03508C;
	bottom:0px;
	width:1024px;
	height:96px;
}


div#box {
	width:839px;
	height:423px;
	top:156px;
	left:92px;
	background-color:white;
}

div#popClose {
	background-image:url('../images/close.png');
	width:73px;
	height:74px;
	top:-35px; 
	left:800px;
}

div#innerbox {
	background-color:black;
	width:815px;
	height:393px;
	top:15px; 
	left:12px;
}

div#mask
{
	background-image:url('../images/mask.jpg');
	width:815px;
	height:393px;
	opacity:1;
    top:15px; 
	left:12px;
}

div#close
{
	background-color: blue;
	width:800px;
	height:393px;
	opacity:1;
    top:15px; 
	left:12px;
}