body {
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
}

#contentContainer {
	position:absolute;
	background-color:#9DCDE6;
	width:1024px;
	height:768px;
}

#label {
	position:absolute;
	top:588px;
	left:900px;
}

#topBar {
	position:absolute;
	background-color:#03508C;
	width:1024px;
	height:68px;
}

#title {
	position:absolute;
	background-image:url('../images/title.png');
	width:220px;
	height:23px;
	top:20px;
	left:15px;
}

#bottomBar {
	position:absolute;
	background-color:#03508C;
	bottom:0px;
	width:1024px;
	height:96px;
}

#box {
	position:absolute;
	background-image:url('../images/content.png');
	width:739px;
	height:409px;
	top:180px;
	left:142px;
}

#box1 {
	position:absolute;
	background-image:url('../images/box.png');
	width:147px;
	height:59px;
	top:195px;
	left:165px;
	opacity:0;
}

#box2 {
	position:absolute;
	background-image:url('../images/box2.png');
	width:147px;
	height:277px;
	top:75px;
	left:296px;
	opacity:0;
}

#box3 {
	position:absolute;
	background-image:url('../images/box3.png');
	width:147px;
	height:59px;
	top:195px;
	left:425px;
	opacity:0;
}

#arrow1 {
	position:absolute;
	background-image:url('../images/arrow.png');
	width:32px;
	height:158px;
	top:145px;
	left:225px;
	opacity:0;
}

#arrow2 {
	position:absolute;
	background-image:url('../images/arrow2.png');
	width:31px;
	height:157px;
	top:145px;
	left:475px;
	opacity:0;
}


div#popClose {
	position:absolute;
	background-image:url('../images/close.png');
	width:73px;
	height:74px;
	top:-36px;
	left:702px;
}