div {
	position:absolute;
}

body {
	margin:0;
	padding:0;
	width:1024px;
	height:768px;
}

#contentContainer {
	position:absolute;
	background-color:#9DCDE6;
	width:1024px;
	height:768px;
}

#label {
	position:absolute;
	top:588px;
	left:900px;
}

#topBar {
	position:absolute;
	background-color:#03508C;
	width:1024px;
	height:68px;
}

#title {
	position:absolute;
	background-image:url('../images/title.png');
	width:119px;
	height:23px;
	top:20px;
	left:15px;
}

#bottomBar {
	position:absolute;
	background-color:#03508C;
	bottom:0px;
	width:1024px;
	height:96px;
}

#tab {
	position:absolute;
	background-image:url('../images/table.png');
	width:855px;
	height:60px;
	top:100px;
	left:84px;
	display:block;
	opacity:1;
}

#tab div#tab1,
#tab div#tab2,
#tab div#tab3,
#tab div#tab4 {
	position:absolute;
	width:134px;
	height:60px;
}

#tab div#tab1 {
	width:140px;
	height:40px;
	top:20px
}

#tab div#tab2 {
	left:148px;
}

#tab div#tab3 {
	left:282px;
}

#tab div#tab4 {
	left:416px;
}

#tab.table1 {
	background-position:0px 0px;'
}

#tab.table2 {
	background-position:0px -70px;'
}

#tab.table3 {
	background-position:0px -140px;'
}

div#box div {
	width:855px;
	height:468px;
	top:160px;
	left:84px;
	opacity:1;
}

div#box div#content1 {
	background-image:url('../images/content.png');
	display:block;
}

div#box div#content1 div#lines {
	background-image:url('../images/lines.png');
	width:0px;
	height:214px;
	top:114px;
	left:195px;
	opacity:1;
}

div#box div#content1 div#arrow {
	position:absolute;
	background-image:url('../images/arrow.png');
	width:173px;
	height:51px;
	top:95px;
	left:225px;
	opacity:0;
}

div#box div#content1 div#verticalline {
	background-image:url('../images/line.png');
	width:2px;
	height:234px;
	top:95px;
	left:215px;
	opacity:0;
}

div#box div#content2 {
	background-image:url('../images/content2.png');
	display:none;
}

div#box div#content3 {
	background-image:url('../images/content3.png');
	display:none;
}