<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>index.html</string>
	<key>Title</key>
	<string>哮喘评估</string>
	<key>Landscape Preview</key>
	<string>L_preview.png</string>
	<key>Portrait Preview</key>
	<string>P_preview.png</string>
</dict>
</plist>
